#root,
body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
button {
  &:focus {
    @apply outline-none;
  }
}
.btnSocial {
  @apply border border-solid mr-4 border-gray-300 p-2 text-primary-main !important;

  &:hover {
    @apply border border-solid text-gray-200 bg-secondary-main border-secondary-main !important;
  }
}
